@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: Karla;
}

:root {
  --green: #495E57;
  --lightpeach: #FBDABB;
  --grey: #EDEFEE;
  --black: #333333;
  --yellow: #F4CE14;
  --peach: #EE9972;
}


/* 1 column container with 5 rows */
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:  "header"
                        "main"
                        "footer";
  grid-gap: 20px;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:  "logo nav";
  grid-gap: 20px;
  align-items: center;
  padding: 20px 40px 0 40px;
}

nav {
  grid-area: nav;
}

nav ul {
    display: flex;
    justify-content: space-around; 
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: solid;
  color: var(--peach);
}

nav .burgermenu {
  display: none;
}

h1 {
  font-family: Marzaki;
  font-size: 36px;
}

.homemain {
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-gap: 20px;
}

.specials-row, .testimonials-row {
  grid-template-columns: 1fr;
}

.hero-row {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  background-color: var(--green);
  position: relative; /* Allows image to overflow */
  overflow: visible;
  align-items: start; /* Aligns both columns to top */
  padding: 0 40px;
}

.hero1 {
  padding-top: 80px;
}

.hero1 h1, .bookingrow1 h1 {
  font-size: 48px;
  color: var(--yellow);
}

.hero1 h2, .hero1 p, .bookingrow1 p{
  color: white;
}

.hero1 p, .bookingrow1 p {
  margin-top: 30px;
}

.hero1 button {
   margin-top: 40px;
}

.hero2 {
  justify-self: stretch;    /* 🔑 Force the container to fill the column */
  align-self: start;    /* Align to top of cell (match text) */
  position: relative;
  z-index: 1;
}

.hero2 img {
  width: 100%;            /* Full width of the grid column */
  height: 420px;          /* Force it to take 350px height */
  object-fit: cover;      /* Crop excess without distortion */
  transform: translateY(40px);  /* Overhang effect */
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

button, input[type="submit"] {
  background-color: var(--yellow);
  color: var(--green);
  border-radius: 12px;
  border-style: none;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 700;
}

.specials-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  margin: 80px 40px 40px 40px;
}

.specials2 {
  display: grid;
  justify-items: end;
}

.specials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0 40px 0 40px;
}

.specialimage {
  width: 100%;            /* Full width of the grid column */
  height: 200px;          /* Force it to take 350px height */
  object-fit: cover;      /* Crop excess without distortion */
}

.specialdetails {
  background-color: var(--grey);
  margin-top: -5px;
  padding: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto auto;
  min-height: 250px;
}

.highlight {
  color: var(--peach);
  font-weight: 600;
}

.specialtext {
  grid-column: 1 / span 2;
}

.lead {
  font-weight: 600;
}

.testimonials-row {
  background-color: var(--grey);
  padding: 40px;
}

.testimonials-header {
}

.testimonials {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.testimonial {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 20px;
}

.testimonialimage {
  grid-row: span 2;
  grid-column: span 1;
  width: 100%;            /* Full width of the grid column */
  object-fit: cover;      /* Crop excess without distortion */
}

.tname {

}

.tstars {

}

.treview {
  grid-column: span 2;
}

.info-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 0 40px;
  margin-top: 40px;
  overflow: hidden;
  padding-bottom: 40px;
}

.info1 {
}

.info1 p {
  margin: 30px 0;
}

.info2 {
  position: relative;
  min-height: 320px;
  display: grid;
}

.info2 img {
  height: 220px;
  width: auto;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.infoimage1 {
  top: 0px;
  right: 40px;
  z-index: 1;
}

.infoimage2 {
  top: 100px;
  right: 150px;
  z-index: 2;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--grey);
  grid-gap: 20px;
  padding: 40px;
}

.footercolumn h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.footercolumn ul {
  list-style: none;
}

.bookingmain {
  grid-area: main;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-gap: 20px;
}

.bookingrow1 {
  background-color: var(--green);
  padding: 40px;
}

.bookingrow2 {
  padding: 10px 40px;
}

.bookingform {
   display: grid;
   max-width: 200px;
   gap: 5px;
}

label {
  font-size: 18px;
  margin-left: 8px;
  font-weight: 600;
}
input, select {
  border-radius: 8px;
  border-width: 2px;
  padding: 9px;
  margin-bottom: 20px;
}

.formh1 {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  
  nav ul {
    display: none;
  }

  nav .burgermenu {
    display: grid;
    justify-items: end;
  }

  .specials2 {
    justify-items: start;
  }

  .hero-row, .specials-header, .specials, .testimonials, .info-row {
    grid-template-columns: 1fr;
    padding: 0 20px;
  }

  header {
    padding: 20px 20px 0 20px;
  }

  h1 {
    font-size: 30px;
  }

  .info2 {
    justify-items: center;
  }

  .info2 img {
    position:unset;
    margin-bottom: 20px;
  }

  .hero1 {
    padding-top: 40px;
  }

  .testimonials-row, footer {
    margin-top: 40px;
  }

  footer {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }
}